DEVICE_CONN_STR_DOWS=HostName=CST8916-IoTHub.azure-devices.net;DeviceId=dows-lake-device;SharedAccessKey=

DEVICE_CONN_STR_FIFTH=HostName=CST8916-IoTHub.azure-devices.net;DeviceId=fifth-avenue-device;SharedAccessKey=

DEVICE_CONN_STR_NAC=HostName=CST8916-IoTHub.azure-devices.net;DeviceId=nac-device;SharedAccessKey=